name: Build Rust Project

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Build for Windows
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --target x86_64-pc-windows-gnu
    
    - name: Build for Linux
      uses: actions-rs/cargo@v1
      with:
        command: build
        args: --release --target x86_64-unknown-linux-gnu
    
    - name: Upload Windows Executable
      uses: actions/upload-artifact@v4
      with:
        name: windows-executable
        path: target/x86_64-pc-windows-gnu/release/my-rust-program.exe
        retention-days: 30
    
    - name: Upload Linux Executable  
      uses: actions/upload-artifact@v4
      with:
        name: linux-executable
        path: target/x86_64-unknown-linux-gnu/release/my-rust-program
        retention-days: 30
